/* Design system extracted from General - Team Settings - Dashboard */
@theme {

    /* Colors */
    --color-brand-50: oklch(0.9665 0.023 220.7);
    --color-brand-100: oklch(0.9347 0.0366 235.5);
    --color-brand-200: oklch(0.8944 0.0572 240.5);
    --color-brand-300: oklch(0.8236 0.0944 245.4);
    --color-brand-400: oklch(0.7173 0.1522 251);
    --color-brand-500: oklch(0.6292 0.1525 251);
    --color-brand-600: oklch(0.5206 0.1401 251);
    --color-brand-700: oklch(0.4216 0.1257 251.9);
    --color-brand-800: oklch(0.325 0.1111 256);
    --color-brand-900: oklch(0.2285 0.0954 260.4);
    --color-brand-950: oklch(0.1372 0.0736 263.5);

    --color-accent-50: oklch(0.9647 0.02 233.8);
    --color-accent-100: oklch(0.9354 0.0338 242.7);
    --color-accent-200: oklch(0.8949 0.0534 249.3);
    --color-accent-300: oklch(0.8235 0.0902 253.4);
    --color-accent-400: oklch(0.7332 0.1402 255.2);
    --color-accent-500: oklch(0.5759 0.2146 258.1);
    --color-accent-600: oklch(0.5199 0.1971 258.5);
    --color-accent-700: oklch(0.4231 0.177 260.5);
    --color-accent-800: oklch(0.3265 0.1576 262.5);
    --color-accent-900: oklch(0.2268 0.1404 264.2);
    --color-accent-950: oklch(0.1433 0.0993 264.1);

    --color-neutral-50: oklch(0.9702 0 0);
    --color-neutral-100: oklch(0.9401 0 0);
    --color-neutral-200: oklch(0.9006 0 0);
    --color-neutral-300: oklch(0.8297 0 0);
    --color-neutral-400: oklch(0.7412 0 0);
    --color-neutral-500: oklch(0.6301 0 0);
    --color-neutral-600: oklch(0.5208 0 0);
    --color-neutral-700: oklch(0.4202 0 0);
    --color-neutral-800: oklch(0.3211 0 0);
    --color-neutral-900: oklch(0.2221 0 0);
    --color-neutral-950: oklch(0.1286 0 0);

    /* Spacing */
    --spacing-1: 0.125rem;
    --spacing-2: 0.25rem;
    --spacing-3: 0.375rem;
    --spacing-4: 0.5rem;
    --spacing-5: 0.625rem;
    --spacing-6: 0.75rem;
    --spacing-10: 1.25rem;
    --spacing-12: 1.5rem;
    --spacing-16: 2rem;

    /* Border Radius */
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;

    /* Shadows */
    --shadow-xs: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.14) 0px 0px 0px 1px;
    --shadow-md: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.24) 0px 0px 3px -1px, rgba(0, 0, 0, 0.16) 0px 0px 0.5px 0px, rgba(0, 0, 0, 0.36) -0.5px 2px 3px -2px;

    /* Typography */
    --text-11px: 0.6875rem;
    --text-12px: 0.75rem;
    --text-13px: 0.8125rem;
    --text-14px: 0.875rem;
    --text-16px: 1rem;
    --text-20px: 1.25rem;
}
